<div class="d-md-flex justify-content-md-between align-items-md-center">
  <h1 class="h2 fw-normal">{{categoryDetails.name}}</h1>
  <a class="btn btn-sm btn-dark" [routerLink]="['/threads', 'create', categoryDetails.id]" *ngIf="isAuthenticated | async">New Thread</a>
</div>
<p class="lead">{{categoryDetails.description}}</p>

<!--Pinned threads-->
<div *ngIf="pinnedThreadsInCategory.length > 0">
<!--  fix pinned-->
  <ul class="list-group list-group-flush" *ngFor="let pinnedThread of pinnedThreadsInCategory">
    <app-forum-thread-list-item [currentThread]="pinnedThread"></app-forum-thread-list-item>
  </ul>
  <hr style="height: 2px;" />
</div>

<ul class="list-group list-group-flush" *ngFor="let forumThread of unpinnedThreadsInCategory">
  <app-forum-thread-list-item [currentThread]="forumThread"></app-forum-thread-list-item>
</ul>

