<h1 class="h2 fw-normal">
  {{categoryDetails.name}}</h1>
<p>{{categoryDetails.description}}</p>

<!--Pinned threads-->
<div *ngIf="threadsInCategory.length > 0">
<!--  fix pinned-->
  <ul class="list-group list-group-flush" *ngFor="let pinnedThread of threadsInCategory">
    <app-forum-thread-list-item [currentThread]="pinnedThread"></app-forum-thread-list-item>
  </ul>
  <hr style="height: 2px;" />
</div>

<ul class="list-group list-group-flush" *ngFor="let forumThread of threadsInCategory">
  <app-forum-thread-list-item [currentThread]="forumThread"></app-forum-thread-list-item>
</ul>

