<h1 class="h2 fw-normal">
  {{currentCategory.name}}</h1>
<p>{{currentCategory.description}}</p>

<!--Pinned threads-->
<div *ngIf="pinnedThreads.length > 0">
  <ul class="list-group list-group-flush" *ngFor="let pinnedThread of pinnedThreads">
    <app-forum-thread-list-item [currentThread]="pinnedThread"></app-forum-thread-list-item>
  </ul>
  <hr style="height: 2px;" />
</div>

<ul class="list-group list-group-flush" *ngFor="let forumThread of threadsInCategory">
  <app-forum-thread-list-item [currentThread]="forumThread"></app-forum-thread-list-item>
</ul>

