<div class="card">
  <div class="card-body">
    <div class="text-center d-flex d-lg-block align-items-center">
      <img class="rounded d-none d-lg-block mx-auto" height="128" width="128" ngSrc="avatars/{{member.avatar}}" alt="{{member.userName}}"/>
      <img class="rounded d-block d-lg-none me-3" height="32" width="32" ngSrc="avatars/{{member.avatar}}" alt="{{member.userName}}"/>

      <div>
        <div class="fw-bold fs-6">
          {{member.userName}}
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer py-1 py-lg-2">
    <div class="d-flex gap-2 justify-content-md-between" style="font-size: 14px;">
      <span>Joined</span>
      <span>{{member.createdAt | convertToReadableDate: "DD/MM/YYYY HH:ss"}}</span>
    </div>
  </div>
</div>
