<div class="card">
  <div class="card-body">
    <div class="d-flex">
      <img src="avatars/{{thread.creatorAvatar}}" alt="{{thread.creatorName}}" class="rounded me-2" height="48" width="48" />
      <div>
        <div class="d-block">
          {{thread.title | limitStringLength: 30}}
        </div>
        <div class="d-block" style="font-size: 14px">
          in {{thread.category}}
        </div>
        <div class="d-block" style="font-size: 12px;">
                <span class="me-2">
                  {{thread.creatorName}}
                </span>
          <span class="text-muted">{{thread.createdAt | convertToReadableDate: "DD/MM/YYYY HH:ss"}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
