<div class="my-3 py-3 my-md-5 py-md-5">
  <h1 class="display-5 fw-bold">Forum3</h1>
  <div class="col-lg-6">
    <p class="lead mb-4">
      Join Forum3 today and become part of our community! Share your thoughts and experiences with others, solve
      challenges, and make new connections. Don't miss out on the opportunity to make your voice heard. Sign up
      now and start exploring
    </p>
  </div>
  <a class="btn btn-primary btn-lg me-2">Register</a>
  <a class="btn btn-outline-dark btn-lg">Login</a>
</div>

<h2 class="h2 fw-normal">Latest Threads</h2>
<!-- Threads here -->

<h2 class="h2 fw-normal">Latest Posts</h2>
<!-- Posts here -->

<h2 class="h2 fw-normal">Latest Members</h2>
<!-- Members here -->
