<div class="row mb-2">
  <app-error-content [isError]="isError"></app-error-content>
  <div class="col-lg-3 mb-2 mb-lg-0">
    <app-profile-card [member]="currentPost.creator"></app-profile-card>
  </div>

  <div class="col-lg-9">
    <div class="card h-100">
      <div class="card-header bg-danger bg-opacity-25 d-flex justify-content-between align-items-center" *ngIf="currentPost.isSoftDeleted">
        <span>This post is soft deleted.</span>
        <button class="btn btn-sm btn-danger" (click)="unDeletePost()"  *ngIf="isAuthenticated | async">Undelete</button>
      </div>

      <div class="card-body py-2 d-flex flex-column justify-content-between">
        <div class="post-content">
          <markdown *ngIf="display">{{ currentPost.content }}</markdown>

          <form *ngIf="!display" [formGroup]="editPostForm" (ngSubmit)="editCurrentPost()">
            <textarea rows="5" class="form-control" formControlName="content" id="content"></textarea>
            <div class="text-danger mt-2" *ngIf="content && content.errors && (content.dirty || content.touched)">
              <div *ngIf="content.errors.required">Content is required.</div>
              <div *ngIf="content.errors.minlength">Content must be at least 5 characters long.</div>
              <div *ngIf="content.errors.maxlength">Content must be no longer than 5000 characters.</div>
            </div>
            <div class="d-flex gap-2 mt-2">
              <button class="btn btn-sm btn-success" type="submit" [disabled]="editPostForm.invalid">Submit</button>
              <button type="button" class="btn btn-sm btn-danger" (click)="onClickEdit()">Cancel</button>
            </div>
          </form>
        </div>

        <div>
          <span class="text-muted fst-italic" style="font-size: 12px;" *ngIf="currentPost.editedBy != null">
            Posted on {{ currentPost.createdAt | convertToReadableDate: "DD/MM/YYYY HH:ss"  }},
            edited by {{ currentPost.editedBy.userName }}
            on {{ currentPost.editedAt | convertToReadableDate: "DD/MM/YYYY HH:ss" }}
          </span>
          <span class="text-muted fst-italic" style="font-size: 12px;" *ngIf="currentPost.editedBy == null">
              Posted on {{ currentPost.createdAt | convertToReadableDate: "DD/MM/YYYY HH:ss" }}
          </span>
        </div>
      </div>

      <div class="card-footer py-2 px-3" *ngIf="isAuthenticated | async">
        <div class="d-flex gap-2">
          <button class="btn btn-sm btn-dark" (click)="onClickEdit()" *ngIf="display">Edit</button>

          <button class="btn btn-sm btn-danger" (click)="deleteToggle()" *ngIf="!displayDelete">Delete</button>
          <button class="btn btn-sm btn-success" (click)="deleteToggle()" *ngIf="displayDelete">Cancel</button>

          <button class="btn btn-sm btn-danger" (click)="deleteCurrentPost()" *ngIf="displayDelete">Permanent Delete</button>
          <button class="btn btn-sm btn-danger" (click)="softDeleteCurrentPost()" *ngIf="displayDelete && !currentPost.isSoftDeleted">Soft Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
