<div class="d-flex">
  <img src="avatars/{{post.creatorAvatar}}" alt="{{post.creatorName}}" class="rounded me-2" height="48" width="48" />
  <div>
    <div class="d-block">
      {{post.threadTitle | limitStringLength: 30}}
    </div>
    <div class="d-block" style="font-size: 14px;">
      {{post.content | limitStringLength: 30}}
    </div>
    <div class="d-block" style="font-size: 12px;">
      <span class="me-1">{{post.creatorName}}</span>
      <span class="text-muted">{{post.createdAt | convertToReadableDate: "DD/MM/YYYY HH:ss"}}</span>
    </div>
  </div>
</div>
