<h1 class="h1 fw-normal">Search Threads</h1>

<div>
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="d-flex">
    <input type="text" class="form-control me-2" id="query" formControlName="query">
    <button type="submit" class="btn btn-outline-success" [disabled]="searchForm.invalid">Search</button>
  </form>
</div>

<hr class="my-4" />

<p *ngIf="threads.length < 1">No threads matching the search query.</p>

<ul class="list-group mb-2" *ngIf="threads.length > 0">
  <li class="list-group-item" *ngFor="let thread of threads">
    <app-lookup-thread [thread]="thread"></app-lookup-thread>
  </li>
</ul>
