<!--      Normal-->
<div class="d-flex align-items-center gap-2" style="font-size: 12px;">
  <a asp-controller="Profile" asp-action="Index" asp-route-displayName="@poster.DisplayName">
    AVATAR
  </a>
  <div>
    <div>
      <a asp-controller="Profile" asp-action="Index" asp-route-displayName="@poster.DisplayName" class="link-dark text-decoration-none">
        POSTERNAME
      </a>
    </div>
    <div>
      <!--          Latest post date-->
      {{currentThread.latestPost.createdAt}}
    </div>
  </div>
</div>
