<li class="list-group-item px-0">
  <div class="row">
    <div class="col-md-7">
      <div class="d-flex align-items-center gap-2">
<!--        Link to profile-->
        <a asp-controller="Profile" asp-action="Index" asp-route-displayName="@creator.DisplayName">
          <img alt="{{currentThread.creator.userName}}" class="rounded" height="32" src="avatars/{{currentThread.creator.avatar}}" width="32">
        </a>
        <div>
<!--          Link to thread view-->
          <a routerLink="/threads/{{currentThread.id}}" class="fw-bold link-dark text-decoration-none">
<!--            Container for icons on title-->
            <div class="d-flex gap-1 align-items-center">

<!--              If thread is pinned-->
              <span *ngIf="currentThread.isPinned">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-angle-fill text-secondary" viewBox="0 0 16 16" data-bs-toggle="tooltip" data-bs-placement="top" title="Pinned">
                  <path d="M9.828.722a.5.5 0 0 1 .354.146l4.95 4.95a.5.5 0 0 1 0 .707c-.48.48-1.072.588-1.503.588-.177 0-.335-.018-.46-.039l-3.134 3.134a5.927 5.927 0 0 1 .16 1.013c.046.702-.032 1.687-.72 2.375a.5.5 0 0 1-.707 0l-2.829-2.828-3.182 3.182c-.195.195-1.219.902-1.414.707-.195-.195.512-1.22.707-1.414l3.182-3.182-2.828-2.829a.5.5 0 0 1 0-.707c.688-.688 1.673-.767 2.375-.72a5.922 5.922 0 0 1 1.013.16l3.134-3.133a2.772 2.772 0 0 1-.04-.461c0-.43.108-1.022.589-1.503a.5.5 0 0 1 .353-.146z"/>
                </svg>
              </span>

<!--              If thread is locked-->
              <span *ngIf="currentThread.isLocked">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill text-secondary" viewBox="0 0 16 16" data-bs-toggle="tooltip" data-bs-placement="top" title="Locked">
                  <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                </svg>
              </span>


<!--              If thread is soft deleted-->
              <span *ngIf="currentThread.isSoftDeleted">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill text-danger" viewBox="0 0 16 16" data-bs-toggle="tooltip" data-bs-placement="top" title="Soft Deleted">
                  <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
                  <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z"/>
                </svg>
              </span>

              <span>{{currentThread.title}}</span>
            </div>
          </a>

          <div style="font-size: 12px;">
            By
<!--            Username-->
            <a asp-controller="Profile" asp-action="Index" asp-route-displayName="@creator.DisplayName" class="link-dark text-decoration-none">
              {{currentThread.creator.userName}}
            </a>
<!--            Date-->
            on {{currentThread.createdAt}}
          </div>
        </div>
      </div>
    </div>

<!--    Number of posts-->
    <div class="col-md-2">
      <div style="font-size: 14px;">
        <span class="fw-bold">{{numberOfPosts}}</span> Posts
      </div>
    </div>


<!--    Right side icons-->
    <div class="col-md-3">
<!--      If newest post is soft deleted-->
      @if(numberOfPosts > 0 && latestPost.isSoftDeleted){
        <app-forum-thread-list-newest-soft-deleted [currentThread]="currentThread"></app-forum-thread-list-newest-soft-deleted>
      }
      @else if (numberOfPosts > 0) {
        <app-forum-thread-list-normal-icons [currentThread]="currentThread"></app-forum-thread-list-normal-icons>
      }
      @else {
        <app-forum-thread-list-no-posts></app-forum-thread-list-no-posts>
      }
    </div>
  </div>
</li>
