<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Forum3</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/categories']" [routerLinkActive]="['active']">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/members']" [routerLinkActive]="['active']">Members</a>
          </li>
        </ul>
        <form class="d-flex" [formGroup]="searchForm" (ngSubmit)="onSubmitSearch()">
          <input class="form-control form-control-sm me-2" type="text" placeholder="Search" aria-label="Search" id="searchQuery" formControlName="searchQuery" />
          <button class="btn btn-sm btn-outline-success" type="submit" [disabled]="searchForm.invalid">Search</button>
        </form>
        <app-login-menu></app-login-menu>
      </div>
    </div>
  </nav>
</header>
